In [10]:
"""
Q 1: Modify the first item (22) of a list inside a following tuple to
222
tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1 = (11, [222, 33], 44, 55)
"""
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print("Updated tuple:"+str(tuple1))

Updated tuple:(11, [222, 33], 44, 55)

In [6]:
"""
Q 2: Count the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
"""
tuple1 = (50, 10, 60, 70, 50)
count = 0
for el in tuple1:
     if el == 50:
            count = count + 1
print("occurrences of item 50:"+str(count))

occurrences of item 50:2

In [12]:
"""
Q 3: Write a Python program to convert a list to a tuple
"""
list1 = [50, 10, 60, 70, 50]
tuple1=tuple(list1)
tuple1

(50, 10, 60, 70, 50)

In [21]:
"""
Q 4: Returns a new set with all items from both sets by removing
duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
"""
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
while(set2):
    set1.add(set2.pop())
print(set1)

{70, 40, 10, 50, 20, 60, 30}

In [40]:
"""
Q5: Merge following two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
"""
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
for i in dict2:
    dict1[i]=dict2[i]
print("merged data : " + str(dict1) )

merged data : {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [66]:
"""
Q6: Given a Python dictionary, Change Bradâ€™s salary to 8500
sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}
Expected output:
sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 8500}
}
"""
sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}

n=len(sampleDict)
i=0
for i in sampleDict:
    if sampleDict[i]['name'] == "Brad":
        sampleDict[i]['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [67]:
"""
Q7: Rename key city to location in the following dictionary
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}

Expected output:
{
"name": "Kelly",
"age":25,
"salary": 8000,
"location": "New york"
}
"""
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
sampleDict["location"] = sampleDict.pop("city")
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}